* {
  list-style: none !important;
  text-decoration: none !important;
}
.z_index_100 {
  z-index: 100;
}
.nav ul li a {
  color: var(--clr-black);
  font-family: "Nunito";
  font-size: var(--fs-lg);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  position: relative;
  z-index: 2;
}
.nav ul li a::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 0;
  background-color: var(--clr-yellow);
  bottom: 4px;
  transition: all 300ms linear;
  left: 50%;
  z-index: -1 !important;
}
.nav ul li a:hover::before {
  width: 90%;
  left: 0;
}
.nav_btn {
  padding: 10px 21px;
  border-radius: 5px;
}
.sm_nav {
  position: fixed;
  z-index: 99 !important;
  top: 0;
  left: -100% !important;
  height: 100vh !important;
  width: 100%;
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.8s linear !important;
}
.hero_bg{background-image: url(./assets/images/png/hero_bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
object-fit: cover;position: relative;
}


